// FONTS
@font-face
  font-family: 'Gilroy-ExtraBold'
  src: url('~@/assets/fonts/GilroyExtraBold.woff')

@font-face
  font-family: 'Gilroy-Light'
  src: url('~@/assets/fonts/GilroyLight.woff')

@font-face
  font-family: 'PT Serif', serif
  src: url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i&display=swap')


html
  font-size: 62.5%


.heading
  font-family: 'Gilroy-ExtraBold'
  font-size: 2.3rem
  margin-top: 2rem
  margin-bottom: 2rem

.text, p
  font-family: 'PT Serif', serif
  font-size: 1.4rem
  margin-top: 0.5rem
  margin-bottom: 0.5rem

// COLORS
$color-background: #EFEEEE
$color-background-contrast: #EBEBEB
$color-main: #707070
$color-yellow-cta: #AC8B08

// NEUMORPHIC CLASSES

.neumorphic-card
  background: linear-gradient(to bottom right,$color-background, #EBE8E8)
  box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.5), 6px 6px 6px rgba(0, 0, 0, 0.16)
  &:hover
    background: linear-gradient(to bottom right, #EBE8E8, $color-background)

.neumorphic-input
  height: 3rem
  border: none
  outline: none
  padding: 0 1rem
  font-size: 1.4rem
  color: $color-main
  font-family: 'PT Serif', serif
  background-color: $color-background-contrast
  box-shadow: inset -1px -1px 3px rgba(255,255,255, 0.5),inset 1px 1px 3px rgba(0,0,0,0.16)
  -webkit-appearance: none

.neumorphic-list-item
  position: relative
  font-size: 1.4rem
  font-family: 'PT Serif', serif
  margin: 1.5rem 0 1.5rem 2.5rem
  cursor: pointer
  &:before
    position: absolute
    content: ''
    left: -25px
    top: 2px
    width: 14px
    height: 14px
    border-radius: 50%
    background: linear-gradient(to bottom right,$color-background, #EBE8E8)
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5), 2px 2px 4px rgba(0, 0, 0, 0.16)

  &--done
    text-decoration: line-through
    &:before
      box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.16)
